{% extends 'base.html' %}
{% load static %}

{% block title %}Review - {{ review.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Review Detail</h1>
        <div class="card">
            {% if review.game.image %}
                <img src="{{ review.game.image.url }}" class="card-img-top" alt="{{ review.game.title }}">
            {% else %}
                <!-- Placeholder image or default image -->
                <img src="{% static 'img/placeholder_review.png' %}" class="card-img-top" alt="Placeholder Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ review.title }}</h5>
                <p class="card-text">Rating: {{ review.rating }}</p>
                <p class="card-text">User: {{ review.user }}</p>
                <p class="card-text">Reviewed Game: {{ review.game.title }}</p>
                <p class="card-text">Review Body: {{ review.body }}</p>
                <!-- Add more review details as needed -->
            </div>
        </div>
    </div>
{% endblock %}
