{% extends 'base.html' %}

{% block title %}{{ game.title }} - GameLog{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ game.title }}</h1>
                <p class="card-text">Release Date: {{ game.release_date }}</p>
                <p class="card-text">Genre: {{ game.genre }}</p>
                
                <a href="{% url 'game_list' %}" class="btn btn-secondary">Back to Game List</a>
            </div>
        </div>
    </div>
{% endblock %}
