{% extends 'base.html' %}
{% load static %}

{% block title %}Game List - GameLog{% endblock %}

{% block content %}
    <div class="container">
        <h1>Game List</h1>
        <div class="row">
            {% for game in games %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if game.image %}
                        <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                    {% else %}
                        <!-- Placeholder image or default image -->
                        <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="Placeholder Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text">Developer: {{ game.developer }}</p>
                        <p class="card-text">Release Date: {{ game.release_date }}</p>
                        <p class="card-text">Description: {{ game.description }}</p>
                        
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'games:game_detail' game.pk %}" class="btn btn-primary btn-sm">View Details</a>
                            </div>
                            <div class="col">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'games:add_review' game.pk %}" class="btn btn-success btn-sm">Add a Review</a>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                <p>No games available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
