{% extends 'base.html' %}

{% block title %}Home - Your Website Title{% endblock %}

{% block content %}
    <div class="container">
        <!-- Jumbotron for Welcome Message -->
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to GameLog</h1>
            <p class="lead">A game review site.</p>
            <hr class="my-4">
            <p>Sign Up to review games</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <!-- Latest Games Section -->
        <div class="row mb-4">
            <div class="col">
                <h2>Latest Games</h2>
                <div class="card-deck">
                    {% for game in latest_games %}
                    <div class="card mb-4">
                        <!-- Add game image -->
                        <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.title }}</h5>
                            <p class="card-text">Release Date: {{ game.release_date }}</p>
                            <!-- Add more game details as needed -->
                            <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Top Rated Games Section -->
        <div class="row">
            <div class="col">
                <h2>Top Rated Games</h2>
                <div class="card-deck">
                    {% for game in top_rated_games %}
                    <div class="card mb-4">
                        <!-- Add game image -->
                        <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.title }}</h5>
                            <p class="card-text">Release Date: {{ game.release_date }}</p>
                            <!-- Add more game details as needed -->
                            <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
