{% extends 'base.html' %}
{% load static %}

{% block title %}Home - GameLog{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to GameLog</h1>
            <p class="lead">A site to review games</p>
            <hr class="my-4">
            <p>Sign Up to add your reviews</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Latest Games</h2>
                <div class="row">
                    {% for game in latest_games %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                {% if game.image %}
                                    <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                                {% else %}
                                    <!-- Placeholder image or default image -->
                                    <img src="{% static 'img/placeholder_game.png' %}" class="card-img-top" alt="Placeholder Image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ game.title }}</h5>
                                    <p class="card-text">Release Date: {{ game.release_date }}</p>
                                    <a href="{% url 'games:game_detail' game.pk %}" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No games available.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h2>Top Rated Games</h2>
                <div class="row">
                    {% for game in top_rated_games %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                {% if game.image %}
                                    <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}">
                                {% else %}
                                    <!-- Placeholder image or default image -->
                                    <img src="{% static 'img/placeholder_game.png' %}" class="card-img-top" alt="Placeholder Image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ game.title }}</h5>
                                    {% if game.avg_rating %}
                                        <p class="card-text">Average Rating: {{ game.avg_rating }}</p>
                                    {% else %}
                                        <p class="card-text">No rating available</p>
                                    {% endif %}
                                    <a href="{% url 'games:game_detail' game.pk %}" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No games available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
